@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background : linear-gradient(90deg, #1f2117, #0d44e7);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#todo-form{
  width: 400px;
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 15px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button{
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #0455f6;
  color: #0455f6;
}

button{
  background-color: transparent;
  margin-left: 10px;
}

button:hover{
  background-color: #0455f6;
  color: #fff;
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.todo-item{
  background-color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 10px;
}
i{
  cursor: pointer;
}